<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ConexionOMSA"
             connectionString="Data Source=.;Initial Catalog=OMSA_Recaudacion;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>